<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airplanes Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Our planes:</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Places</th>
            <th>Actions</th>
        </tr>
        <tr class="green" th:each="plane : ${planes}">
            <td th:text="${plane.id}"/>
            <td style="min-width: 150px" th:text="${plane.model}"/>
            <td th:text="${plane.places}"/>
            <td>
                <div th:if="${#lists.isEmpty(plane.flights)}">
                    <form th:action="@{/airplanes/{id} (id=${plane.id})}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="button">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <p>
        <a class="button" th:href="@{/airplanes/newPlane}">Add new Plane</a>
    </p>
    <p>
        <a class="button" th:href="@{/}">Back</a>
    </p>
</body>
</html>