<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airplanes Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Our planes:</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Places</th>
            <th>Actions</th>
        </tr>
        <tr class="green" th:each="plane : ${planes}">
            <td th:text="${plane.id}"/>
            <td style="min-width: 150px" th:text="${plane.model}"/>
            <td th:text="${plane.places}"/>
            <td>

            </td>
        </tr>
    </table>
</body>
</html>