<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airplane Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Add new Plane</h1>
    <form th:action="@{/airplanes}" th:object="${plane}" method="post">
        <label for="model">Model name:</label>
        <input id="model" th:field="*{model}"/>
        <div class="red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></div>
        <br>
        <label for="places">Places:</label>
        <input type="number" id="places" th:field="*{places}"/>
        <div class="red" th:if="${#fields.hasErrors('places')}" th:errors="*{places}"></div>
        <br>
        <button type="submit">Save</button>
    </form>
</body>
</html>